.modalContent {
  background-color: #fff;
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 
              0px 16px 24px rgba(0, 0, 0, 0.04), 
              0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 0px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(95, 95, 99, 0.2);
  width: 492px;
}

.modalHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  max-height: 55px;
}

.btnToggleGroup {
  border: 2px solid #333;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; 
  background-color: #fff;
  position: relative;
}

.btnToggle {
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  min-width: 120px;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 28px;
  font-size: 17px;
  font-weight: 700;
}

.btnToggleGroup::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: solid 3px white;
  background-color: #333;
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.btnLeft{
  margin-left: -5px;
}

.btnRight{
  margin-right: 17px;
}

.active {
  color: #fff;

}

.btnText {
  color: #000;
}

.isLoginActive .btnToggleGroup::before { /* обводка слева */
  transform: translateX(0);
  width: 40%;
}

.isRegisterActive .btnToggleGroup::before { /* обводка справа */
  transform: translateX(53%);
  width: 65%;
}
