.modalContent {
  background-color: white;
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 
              0px 16px 24px rgba(0, 0, 0, 0.04), 
              0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 0px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(76, 76, 255, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.btnToggleGroup {
  border: 2px solid #333;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; 
  background-color: #fff;
  position: relative; /* для псевдоэлемента */
}

.btnToggle {
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  min-width: 120px;
  text-align: center;
  position: relative; /* для корректного расположения текста */
  z-index: 1; /* чтобы текст был выше псевдоэлемента */
}

.btnToggleGroup::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #333; /* цвет обводки */
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 0; /* чтобы обводка была под текстом */
}

.active {
  color: #fff; /* белый текст для активной кнопки */
}

.btnText {
  color: #000;
}

.isLoginActive .btnToggleGroup::before {
  transform: translateX(0); /* обводка слева */
}

.isRegisterActive .btnToggleGroup::before {
  transform: translateX(100%); /* обводка справа */
}
