.container__main{
    border-radius: 40px;
    margin: 0 auto;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}

.square{
    position: absolute;
    right: -65px;
}