.verificationForm {
    margin: 0 auto;
    text-align: center;

    background-color: #fff;
    border-radius: 40px;
    padding: 30px 54px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
        0px 16px 24px rgba(0, 0, 0, 0.04),
        0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(95, 95, 99, 0.2);
    width: 492px;
}

.emailText {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.emailAddress {
    font-size: 15px;
    color: #333;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.submitButton {
    width: 100%;
    padding: 15px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #f9a828;
}

.agreementText {
    font-size: 12px;
    text-align: center;
    color: #888;
    margin-top: 20px;
}

.agreementTextLink {
    text-decoration: none;
}

.inputGroup {
    margin-top: 40px;
    margin-bottom: 28px;
}

.inputField {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}